torch
torchvision
torchaudio
--extra-index-url https://download.pytorch.org/whl/cu118
transformers
sentencepiece
ollama
git+https://github.com/openai/whisper.git  # Install Whisper langsung dari GitHub
pyttsx3
pyinstaller
ffmpeg-python  # Wrapper Python untuk FFMPEG
langdetect
sounddevice
PyQt6